li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.nav {
	margin-top: 3rem;
	gap: 3rem;
	position: relative;
	z-index: 10;
}

.logo {
	display: block;
	height: min-content;
	width: min-content;
}

.nav__menu {
	display: none;
	align-items: center;
	width: 100%;
}

.nav__menu-options {
	font-size: 1.125rem;
	color: white;
	gap: 1.75em;
	width: fit-content;
	font-weight: 600;
}

.nav__open-close {
	margin-left: auto;
	cursor: pointer;
}

.nav__menu-buttons {
	gap: 1em;
}

@media screen and (width <= 800px) {
	.open-menu {
		display: block;
		position: absolute;
		top: 4rem;
		left: 0;
		right: 0;
		padding: 2.5rem 1.5rem;
		background-color: var(--dark-violet);
		border-radius: 0.5rem;
	}
	.open-menu > * {
		flex-direction: column;
		align-items: center;
	}
	.nav__menu-options {
		width: 100%;
		padding-bottom: 2rem;
		border-bottom: 1px solid var(--dark-violet-line);
	}
	.nav__menu-buttons {
		margin-top: 1em;
	}
	.nav__menu-buttons .btn {
		width: 100%;
	}
}

@media screen and (width > 800px) {
	.nav__menu {
		display: flex;
	}
	.nav__menu-options {
		font-size: 1rem;
		gap: 2em;
		color: var(--grayish-violet);
	}
	.nav__menu-option:hover a {
		color: var(--very-dark-blue);
	}
	.nav__open-close {
		display: none;
	}
}
